<div class="show-status hidden box-msg">
    <div class="box-close">
        <i class="fa fa-times-circle btn-close"></i>
    </div>
    <h5>title</h5>
    <p><a href="https://ropsten.etherscan.io/tx/" target="_blank"></a></p>
</div>

<div class="show-error hidden box-msg">
    <div class="box-close">
        <i class="fa fa-times-circle btn-close"></i>
    </div>
    <h5>title</h5>
    <p>content</p>
</div>

<footer class="footer">
    <div class="container-fluid clearfix">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018
        <a href="https://vinsofts.com" target="_blank">Vinsofts</a></span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
        <i class="mdi mdi-heart text-danger"></i>
    </span>
    </div>
</footer>