<div class="modal fade bd-example-modal-lg" id="modalDigitalCertificate" tabindex="-1" role="dialog" aria-labelledby="modalDigitalCertificateTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-content-custom container">
            <div class="modal-body">
                <div class="digitalCertificates">
                    <br><br><br>
                    <span style="
                    font-size:50px">Digital Certificate</span>
                    <br>
                    <span style="font-size:25px">This is to certify that</span>
                    <div class="bg-transparent" id="result">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <div class="p-5">
                                                    <img id="digitalImageMedicine" class="img-fluid" src="" alt="digitalImageMedicine">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="p-5">
                                                    <div style="text-align: left">
                                                        <h4 class="display-6" id="digitalIDMedicine"><b>ID
                                                                Medicine</b></h4>
                                                        <p id="digitalNameMedicine">Name Medicine</p>
                                                        <p id="digitalIngredientMedicine">Ingredient
                                                            Medicine</p>
                                                        <p id="digitalBenefitMedicine">Benefit Medicine</p>
                                                        <p id="digitalByMedicine">By Medicine</p>
                                                        <p id="digitalDetailMedicine">Detail Medicine</p>
                                                        <p id="digitalPricesMedicine">Prices Medicine</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" bg-transparent" id="result">
                        <div class="container text-center">
                            <div class="row">
                                <div class="col-lg-10 mx-auto">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-lg-6">
                                                <div class="p-5">
                                                    <img id="digitalImageProvider" class="img-fluid" src="" alt="digitalImageProvider">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="p-5">
                                                    <div style="text-align: left">
                                                        <h4 class="display-6" id="digitalIDProvider"><b>ID
                                                                Provider</b></h4>
                                                        <p id="digitalNameProvider">Name Provider</p>
                                                        <p id="digitalStreetProvider">Street Provider</p>
                                                        <p id="digitalPhoneProvider">Phone Provider</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span id="digitalIDTime">id-time</span>
                </div>
            </div>
        </div>
    </div>
</div>